In [5]:
red = [1,2,3,4,5,6]
blue = [1,2,3,4,5,6]
sample = ("red1","blue1")
import random

In [6]:
data =[]
def who_win():
    ran_num = (random.randint(1,6),random.randint(1,6))
    if ran_num[0] > ran_num[1]:
        data.append("RED")
    elif ran_num[0] == ran_num[1]:
        data.append("TOSS")
    else :
        data.append("BLUE")

In [7]:
for _ in range(50):
    who_win()

In [8]:
data

['TOSS',
 'BLUE',
 'RED',
 'BLUE',
 'TOSS',
 'BLUE',
 'TOSS',
 'BLUE',
 'TOSS',
 'RED',
 'TOSS',
 'TOSS',
 'RED',
 'BLUE',
 'BLUE',
 'RED',
 'BLUE',
 'RED',
 'BLUE',
 'BLUE',
 'BLUE',
 'RED',
 'BLUE',
 'RED',
 'BLUE',
 'TOSS',
 'RED',
 'RED',
 'RED',
 'RED',
 'RED',
 'BLUE',
 'TOSS',
 'BLUE',
 'RED',
 'BLUE',
 'RED',
 'RED',
 'BLUE',
 'RED',
 'TOSS',
 'RED',
 'BLUE',
 'BLUE',
 'RED',
 'BLUE',
 'RED',
 'BLUE',
 'RED',
 'RED']

In [9]:
mydicts = {"RED":int(data.count("RED")),"BLUE":int(data.count("BLUE")),"TOSS":int(data.count("TOSS"))}

In [10]:
ans = max(mydicts, key=mydicts.get)

In [11]:
import pandas as pd

In [12]:
data_series = pd.Series(data)

In [13]:
data_frame = pd.get_dummies(data_series).astype(int)
data_frame.columns = ['BLUE', 'RED', 'TOSS']

In [14]:
# red = 100 rupiya
# bule = 100 rupiya 
# toss = 500 rupiya

In [15]:
mydicts

{'RED': 21, 'BLUE': 20, 'TOSS': 9}

In [16]:
print(f"Winner: {ans}")

Winner: RED

In [17]:
data_frame

    BLUE  RED  TOSS
0      0    0     1
1      1    0     0
2      0    1     0
3      1    0     0
4      0    0     1
5      1    0     0
6      0    0     1
7      1    0     0
8      0    0     1
9      0    1     0
10     0    0     1
11     0    0     1
12     0    1     0
13     1    0     0
14     1    0     0
15     0    1     0
16     1    0     0
17     0    1     0
18     1    0     0
19     1    0     0
20     1    0     0
21     0    1     0
22     1    0     0
23     0    1     0
24     1    0     0
25     0    0     1
26     0    1     0
27     0    1     0
28     0    1     0
29     0    1     0
30     0    1     0
31     1    0     0
32     0    0     1
33     1    0     0
34     0    1     0
35     1    0     0
36     0    1     0
37     0    1     0
38     1    0     0
39     0    1     0
40     0    0     1
41     0    1     0
42     1    0     0
43     1    0     0
44     0    1     0
45     1    0     0
46     0    1     0
47     1    0     0
48     0    1     0
49     0    1     0

In [18]:
#User random forest